@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
* {
   box-sizing: border-box;
}

img + p {
   color: gray;
   font-size: small;
}

footer {
   padding: 20px;
   color: white;
   background-color: #00AFB4;
   text-align: center;
   font-weight: bold;
}

body {
   font-family: arial;
   margin: 0;
   padding: 0;
}

#banner {
   color: white;
   padding-top: 1px;
   height: 200px;
   text-align: center;
   background-color: #00CFCC;
   box-sizing: border-box;
}
h1 {
   font-size: 60px;
}

nav 
{
     background-color: #00a2c6;
   padding: 5px;
   position: sticky;
   top: 0;
}
nav li {
   display: inline;
   list-style-type: none;
   margin-right: 20px;
  
}
nav a {
   text-decoration: none;
   color: white;

}



.card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   border-radius: 10px;
   padding: 20px;
   margin-top: 20px;

}


.featured_image {
   width: 100%;
   max-height: 300px;
   object-fit: cover;
   object-position: center;
}



.profile_card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   border-radius: 10px;
   padding: 20px;
   margin-top: 20px;
   text-align: center;
}


.jadwal {
      border-collapse: collapse;
      width: 100%;

}
.informasi {
      border-collapse: collapse;
      width: 100%;   

}

.informasi tr:hover{background-color: #f2f2f2;}
.informasi tr:nth-child(even){background-color: #f2f2f2;}

#content {
   float: left;
   width: 75%;
}

aside {
   float: right;
   width: 25%;
   padding-left: 20px;
}

main {
   padding: 20px;
   overflow: auto;
}

@media screen and (max-width: 1000px) {
   #content,
   aside {
       width: 100%;
       padding: 0;
   }
}

header.nav {
   display: inline;
}
